PORT=5000
MONGODB_URL=mongodb+srv://username:password@cluster.mongodb.net/databaseName?retryWrites=true&w=majority
ADMIN_KEY=replace_with_strong_admin_key
AUTO_HARVEST_ON_START=true
AUTO_HARVEST_STATE_NAME=Munshiganj
AUTO_HARVEST_CRON=0 3 * * 0
AUTO_HARVEST_TIMEZONE=Asia/Dhaka
